@import "var.scss";
@import "style2.scss";

/*Home phone*/

header {
    img {
        width: 50%;
        position: relative;
        left: 25%;
        right: 25%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .localisation-search {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: rgb(225, 225, 225);
        height: 40px;
    }
    i {
        color: rgb(53, 53, 53);
        font-size: 10px;
        margin-right: 5px;
    }
    input {
        display: flex;
        justify-content: center;
        color: rgb(53, 53, 53);
        background-color: rgb(225, 225, 225);
        width: 30%;
        font-size: 14px;
        font-family: $ptext;
        font-size: 10px;
    }
}

.debut {
    background-color: rgb(246, 246, 246);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
        margin-top: 30px;
        font-size: $h30;
        font-weight: bold;
        text-align: center;
        font-family: $plt;
    }
    .reserved-para {
        text-align: center;
        color: rgb(53, 53, 53);
        font-family: $ptext;
    }
    .reserved-btn {
        border-radius: 30px;
        background: linear-gradient(0deg, rgba(147, 86, 220, 1) 28%, rgba(255, 121, 218, 1) 89%);
        border: none;
        height: 40px;
        color: white;
        font-family: $ptext;
    }
}

.f {
    padding: 10px;
    h2 {
        font-size: $h20;
        margin-top: 30px;
        padding: 10px;
        font-weight: bold;
        font-family: $plt;
        margin-bottom: 20px;
    }
    .fonct {
        padding: 10px 22% 10px 22%;
        margin: 10px;
        background-color: rgb(246, 246, 246);
        height: 40px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-family: $ptext;
        position: relative;
        top: -10px;
        i {
            margin-right: 10px;
        }
        &:hover {
            background-color: rgb(201, 203, 255);
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
            i {
                color: $cprimary;
            }
        }
        .fonct-all {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            font-family: $ptext;
        }
    }
    .foncti {
        z-index: 10;
        background-color: $cprimary;
        border-radius: 200px;
        font-size: 10px;
        padding: 15px;
        color: white;
        position: absolute;
    }
}

.restaurants {
    background-color: rgb(246, 246, 246);
    padding-bottom: 30px;
    .resto {
        font-size: $h20;
        margin-top: 10px;
        padding: 10px;
        font-weight: bold;
        padding-top: 20px;
        margin-bottom: 10px;
    }
    .r-card {
        position: relative;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 60px;
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        .new {
            position: absolute;
            left: 65%;
            top: 20px;
            width: 20%;
            background-color: $ctert;
            color: green;
            padding: 10px;
            text-align: center;
            border-radius: 5px;
        }
        img {
            object-fit: cover;
            width: 100%;
            height: 200px;
            border-radius: 20px 20px 0 0;
        }
        .r-like {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: relative;
            i {
                position: absolute;
                right: 0;
                .fa-regular {
                    opacity: 1;
                    &:hover {
                        opacity: 0;
                    }
                }
                .fa-solid {
                    opacity: 0;
                    &:hover {
                        opacity: 1;
                        color: $cprimary;
                    }
                }
            }
        }
        .rhp {
            padding: 20px;
            line-height: 20px;
            font-size: 20px;
            .r-h3 {
                font-weight: bold;
            }
        }
    }
}

.footer {
    background-color: rgb(53, 53, 53);
    color: white;
    padding: 20px;
    h2 {
        width: 40%;
        font-family: $plt;
        color: white;
        font-size: $h30;
        font-weight: bold;
        font-style: italic;
        margin-bottom: 10px;
    }
    .fo-div {
        line-height: 22px;
        font-size: 18px;
    }
    i {
        margin-right: 10px;
    }
    a {
        color: white;
        text-decoration: none;
        &:hover {
            cursor: pointer;
        }
        &:visited {
            color: $cprimary;
        }
        &:active {
            color: $csecond;
        }
    }
}


/*----------------------------------------------*/


/*Home tablets*/

@media only screen and (min-width:768px) {
    .header {
        .localisation-search input {
            font-size: 15px;
        }
        .localisation-search i {
            font-size: 15px;
        }
    }
    .f {
        .fonct-h2 {
            text-align: center;
            font-size: $h30;
            font-family: $plt;
        }
        .fonct {
            padding: 10px 30% 10px 30%;
        }
        .foncti {
            font-size: 15px;
        }
    }
    .restaurants {
        margin-top: 30px;
    }
    .restaurants .resto {
        font-size: $h30;
    }
    .resto {
        margin-bottom: 20px;
    }
    .r-card {
        width: 90%;
        margin-right: 20px;
    }
    .r-tablets {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    a {
        width: 100%;
    }
    .footer {
        h2 {
            display: flex;
            align-items: center;
            font-size: $h60;
        }
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}


/*----------------------------------------------*/


/*Home desktop*/

@media only screen and (min-width:1024px) {
    .header {
        .localisation-search {
            height: 70px;
            display: flex;
            flex-direction: row;
        }
        .iplus {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .localisation-search input {
            font-size: 20px;
        }
        .localisation-search i {
            font-size: 20px;
        }
    }
    .debut {
        .reserved {
            font-size: $h50;
        }
        .reserved-para {
            font-size: $h30;
        }
        .reserved-btn {
            height: 70px;
            width: 300px;
            font-size: $h30;
        }
    }
    .f {
        .fonct-h2 {
            font-size: $h40;
        }
        .fonct {
            font-size: $h30;
            margin-bottom: 20px;
            font-family: $ptext;
        }
        .foncti {
            font-size: 20px;
        }
    }
    .restaurants {
        margin-top: 50px;
        .resto {
            font-size: $h40;
            margin: 30px;
        }
        .resto-all {
            position: relative;
            left: 2%;
            right: 2%;
        }
        .r-h3 {
            font-size: $h30;
            margin-bottom: 5px;
        }
        .r-para {
            font-size: $h20;
        }
    }
    .footer {
        height: 150px;
        h2 {
            font-size: $h70;
        }
        .fo-para {
            margin-bottom: 10px;
        }
        .fo-div {
            font-size: $h30;
        }
    }
}