@import "var.scss";
@import "style2.scss";

/*Home phone*/

header {
    img {
        width: 50%;
        position: relative;
        left: 25%;
        right: 25%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .localisation-search {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: rgb(225, 225, 225);
        height: 40px;
        i {
            margin-right: 5px;
            color: rgb(53, 53, 53)
        }
        input {
            display: flex;
            justify-content: center;
            color: rgb(53, 53, 53);
            background-color: rgb(225, 225, 225);
            width: 30%;
            font-size: 14px;
            font-family: $ptext;
        }
    }
}

.debut {
    background-color: rgb(246, 246, 246);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
        margin-top: 30px;
        font-size: $h30;
        font-weight: bold;
        text-align: center;
        font-family: $plt;
    }
    .reserved-para {
        text-align: center;
        color: rgb(53, 53, 53);
        font-family: $ptext;
    }
    .reserved-btn {
        border-radius: 30px;
        background: linear-gradient(0deg, rgba(147, 86, 220, 1) 28%, rgba(255, 121, 218, 1) 89%);
        border: none;
        height: 40px;
        color: white;
        font-family: $ptext;
    }
}

.f {
    padding: 10px;
    h2 {
        font-size: $h20;
        margin-top: 30px;
        padding: 10px;
        font-weight: bold;
        font-family: $plt;
    }
    .fonct {
        padding: 10px 22% 10px 22%;
        margin: 10px;
        background-color: rgb(246, 246, 246);
        height: 40px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-family: $ptext;
        &:hover {
            background-color: lightgrey;
            i {
                color: $cprimary;
            }
        }
        .fonct-all {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            font-family: $ptext;
        }
    }
}

.i-fonct {
    background-color: $cprimary;
    border-radius: 200px;
    font-size: 10px;
    padding: 7px;
    color: white;
    position: absolute;
}

.restaurants {
    background-color: rgb(246, 246, 246);
    padding-bottom: 30px;
    .resto {
        font-size: $h20;
        margin-top: 10px;
        padding: 10px;
        font-weight: bold;
        padding-top: 20px;
        margin-bottom: 10px;
    }
    .r-card {
        position: relative;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 60px;
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        .new {
            position: absolute;
            left: 65%;
            top: 20px;
            width: 20%;
            background-color: $ctert;
            color: green;
            padding: 10px;
            text-align: center;
            border-radius: 5px;
        }
        img {
            object-fit: cover;
            width: 100%;
            height: 200px;
            border-radius: 20px 20px 0 0;
        }
        .r-like {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            i {
                padding: 20px;
                .spandb {
                    display: block;
                    &:hover {
                        display: none;
                    }
                }
                .spandn {
                    display: none;
                    &:hover {
                        display: block;
                        color: $cprimary;
                    }
                }
            }
        }
        .rhp {
            padding: 20px;
            line-height: 20px;
            font-size: 20px;
            .r-h3 {
                font-weight: bold;
            }
        }
    }
}

.footer {
    background-color: rgb(53, 53, 53);
    color: white;
    padding: 20px;
    h2 {
        width: 40%;
        font-family: $plt;
        color: white;
        font-size: $h30;
        font-weight: bold;
        font-style: italic;
        margin-bottom: 10px;
    }
    .fo-div {
        line-height: 22px;
        font-size: 18px;
    }
    i {
        margin-right: 10px;
    }
    a {
        color: white;
        text-decoration: none;
        &:hover {
            cursor: pointer;
        }
        &:visited {
            color: $cprimary;
        }
        &:active {
            color: $csecond;
        }
    }
}


/*----------------------------------------------*/


/*Home tablets*/

@media only screen and (min-width:768px) {
    .f .fonct-h2 {
        text-align: center;
        font-size: $h30;
        font-family: $plt;
    }
    .f .fonct {
        padding: 10px 30% 10px 30%;
    }
    .restaurants .resto {
        font-size: $h30;
    }
    .resto {
        margin-bottom: 20px;
    }
    .r-card {
        width: 90%;
        margin-right: 20px;
    }
    .r-tablets {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    a {
        width: 100%;
    }
    .footer {
        h2 {
            display: flex;
            align-items: center;
            font-size: $h60;
        }
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}


/*----------------------------------------------*/


/*Home desktop*/

@media only screen and (min-width:1024px) {
    .header {
        img {
            height: 80px;
        }
    }
    .resto-all {
        position: relative;
        left: 2%;
        right: 2%;
    }
}