$cred: rgb(184, 94, 94);
$plt: 'Shrikhand',
sans-serif;
$ptext: 'Roboto',
sans-serif;
$cprimary:#9356DC;
$csecond:#FF79DA;
$ctert:#99E2D0;
$h20:20px;
$h30:30px;
$h40:40px;
$h50:50px;
$h60:60px;
$h70:70px;
$p10:10px;
$p20:20px;
h2 {
    font-family: $plt;
}

p {
    font-family: $ptext;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: black;
    }
    &:visited {
        text-decoration: none;
        color: black;
    }
}